<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.SetmealDishMapper">
  <resultMap id="BaseResultMap" type="com.sky.entity.SetmealDish">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="setmeal_id" jdbcType="BIGINT" property="setmealId" />
    <result column="dish_id" jdbcType="BIGINT" property="dishId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="copies" jdbcType="INTEGER" property="copies" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, setmeal_id, dish_id, `name`, price, copies
  </sql>
  <select id="selectByExample" parameterType="com.sky.entity.SetmealDishExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from setmeal_dish
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from setmeal_dish
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from setmeal_dish
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.entity.SetmealDishExample">
    delete from setmeal_dish
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.entity.SetmealDish">
    insert into setmeal_dish (id, setmeal_id, dish_id, 
      `name`, price, copies
      )
    values (#{id,jdbcType=BIGINT}, #{setmealId,jdbcType=BIGINT}, #{dishId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{copies,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sky.entity.SetmealDish">
    insert into setmeal_dish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="setmealId != null">
        setmeal_id,
      </if>
      <if test="dishId != null">
        dish_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="copies != null">
        copies,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="setmealId != null">
        #{setmealId,jdbcType=BIGINT},
      </if>
      <if test="dishId != null">
        #{dishId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="copies != null">
        #{copies,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.entity.SetmealDishExample" resultType="java.lang.Long">
    select count(*) from setmeal_dish
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update setmeal_dish
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.setmealId != null">
        setmeal_id = #{record.setmealId,jdbcType=BIGINT},
      </if>
      <if test="record.dishId != null">
        dish_id = #{record.dishId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.copies != null">
        copies = #{record.copies,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update setmeal_dish
    set id = #{record.id,jdbcType=BIGINT},
      setmeal_id = #{record.setmealId,jdbcType=BIGINT},
      dish_id = #{record.dishId,jdbcType=BIGINT},
      `name` = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      copies = #{record.copies,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.entity.SetmealDish">
    update setmeal_dish
    <set>
      <if test="setmealId != null">
        setmeal_id = #{setmealId,jdbcType=BIGINT},
      </if>
      <if test="dishId != null">
        dish_id = #{dishId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="copies != null">
        copies = #{copies,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.entity.SetmealDish">
    update setmeal_dish
    set setmeal_id = #{setmealId,jdbcType=BIGINT},
      dish_id = #{dishId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      copies = #{copies,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>